<div class="container">
	<h1>Password Generator</h1>

	<div class="password-display" *ngIf="generatedPassword">
		<h2>Generated Password(Click to copy):</h2>
		<div class="password-box" (click)="copyToClipboard()" title="Click to copy">
			{{ generatedPassword }}
		</div>
	</div>

	<div class="controls">
		<div class="form-group">
			<div class="flex col gap-2 flex-1">
				<label for="length">Password Length:</label>
				<input
					class="input-con"
					type="number"
					id="length"
					[(ngModel)]="passwordLength"
					min="1"
					max="50"
				/>
			</div>
		</div>

		<div class="form-group">
			<label>
				<input type="checkbox" [(ngModel)]="includeAlphabets" /> Include
				Alphabets
			</label>
		</div>

		<div class="form-group">
			<label>
				<input type="checkbox" [(ngModel)]="includeNumbers" /> Include Numbers
			</label>
		</div>

		<div class="form-group">
			<label>
				<input type="checkbox" [(ngModel)]="includeSpecial" /> Include Special
				Characters
			</label>
		</div>

		<button (click)="generatePassword()">Generate Password</button>
	</div>
</div>
